$color-danger: red;
$color-danger-bg: rgba(255, 0, 0, 0.233);
$color-success: green;
$color-success-bg: rgba(0, 128, 0, 0.274);
$color-primary: rgb(0, 217, 255);
$color-grey: grey;
$color-light-grey: rgb(202, 200, 200);
$color-light-grey-bg: rgba(202, 200, 200, 0.363);
$color-warning: rgba(219, 219, 4, 0.993);
$color-white: #fff;
$color-black: #000;
$color-pink: rgb(248, 175, 243);

$font-main: 'Trebuchet MS', sans-serif;